html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.header,
.one,
.two,
.three,
.four,
.footer {
    display: flex;
    justify-content: center;
}

.one,
.two,
.three,
.four {
    flex: 1;
    padding: 32px;
}

.header, .footer {
    background-color: #363636;
    min-height: 48px;
}

.header-container {
    width: 1280px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px;

}

.logo {
    display: flex;
    gap: 8px;
    margin-right: auto;
}

.logo p, .header-container a, .footer p {
    color: white;
}

.logo img {
    max-width: 32px;
    filter: invert(1);
}

.logo p {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: bold;
}

.one, .three {
    background-color: lightgray;
    flex: 1;
    min-height: 300px;
    align-items: center;
}

.one-container {
    display: flex;
    width: 1280px;
    justify-content: space-evenly;
    align-items: center;
}

.one-container img {
    height: 300px;
    border: 1px solid black;
    border-radius: 2%;
}

.top-copy {
    width: 400px;
}

.top-copy p, .top-copy li {
    line-height: 25px;
}

.top-copy button {
    font-size: 20px;
    font-weight: bold;
    background-color:  #363636;
    padding: 8px;
    margin-left: 5%;

}

.top-copy button a {
    color: white;
}

.two-container {
    display: flex;
    width: 1280px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.birb-row {
    display: flex;
    width: 1280px;
    justify-content: space-evenly;
    align-items: center;

}
.birb-pic {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 3px solid black;
}

.birb-pic-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}

.three-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex: auto;
}

.quote {
    font-size: 32px;
    max-width: 400px;
    margin-top: 0;
    margin-bottom: 32px;
    padding: 0;
    text-align: left;
}

.author {
    text-align: right;
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 2%;
    border: 1px solid black;
    width: 720px;
    padding: 20px;
    margin: 32px;

}

.banner button {
    font-size: 20px;
    font-weight: bold;
    background-color:  #363636;
    padding: 8px;
    margin-left: 5%;
    height: 43px;
}

.banner button a {
    color: white;
}

.banner-headline {
    font-size: 32px;
    font-weight: bold;
}

.footer p {
    margin: 32px;
}